@charset "UTF-8";

/* Global reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML-5 Elements for oder browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Global elements */
body {
  font-family: Bitstream vera sans, Helvetica narrow, Helvetica, sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

label {
  font-size: 1.1em;
  font-weight: bold;
}

a, a:hover, a:visited, a:link, a:active {
  border: none;
  text-decoration: none;
}

/* Page, containers and wrappers */
.wrapper {
  margin: 0 auto;
  position: relative;
}

.page {
  width: 320px;
}

.container {
  margin: 10px 0 20px;
  text-align: center;

  &.shadow {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #B6B6B6;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

/* Color containers */
.colors {
  .color {
    height: 120px;
    line-height: 150px;
    position: relative;

    .color_pointer {
      border-bottom: 0px none #FFFFFF;
      border-left: 160px solid transparent;
      border-right: 160px solid transparent;
      border-top: 40px solid #FFFFFF;
      bottom: -39px;
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 501;
    }
  }

  .color_top {
    border-radius: 3px 3px 0 0;
  }

  .color_bottom {
    border-radius: 0 0 3px 3px;
    height: 150px;
    line-height: 180px;
  }
}

/* Color inputs */
.color_input {
  margin: 0 auto;
  position: relative;
  width: 140px;

  label {
    color: #999999;
    display: block;
    font-size: 1.5em;
    margin: -0.1em 0 0 0.3em;
    position: absolute;
  }

  input {
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 2px 2px #BFBFBF inset;
    color: #555555;
    font-size: 1.5em;
    height: 40px;
    padding-left: 30px;
    text-transform: uppercase;
    width: 110px;

    &:focus {
      box-shadow: 0 0 2px #0CBEFF;
    }
  }
}

/* Sass string and container */
.sass {
  padding: 0 0 10px;
  word-wrap: break-word;

  label {
    background: #451E1A;
    border-radius: 3px 3px 0 0;
    color: #E85848;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 100%;
  }

  .shy {
    color: transparent;
  }

  .keyword {
    color: #000000;
    font-weight: bold;
  }

  .bracket {
    color: #000000;
    font-weight: bold;
  }

  .color {
    color: #0057AE;
  }

  .value {
    color: #BF0303;
    margin-left: 5px;
  }
}

/* Slider */
.sliders {
  .slider_container {
    margin: 10px 0 0;
  }

  label {
    font-size: 0.8em;
    font-weight: normal;
  }

  div.slider {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 2px;
    margin: 0 0 5px;
    position: relative;
    width: 100%;
  }

  a.slider {
    color: #B6B6B6;
    display: inline-block;
    font-size: 50px;
    height: 15px;
    line-height: 0px;
    position: absolute;
    text-shadow: #000000 0 0 1px;
    top: 2px;
    width: 15px;
  }

}
